@import url('https://fonts.googleapis.com/css?family=Cairo');

body{
    font-family: 'Cairo', sans-serif !important;
}
h1, h2, h3, h4, h5, h6,
.header_area .navbar .nav .nav-item .nav-link{
    font-weight: bold;
    font-family: 'Cairo', sans-serif !important;
    
}
.header_area .navbar .nav .nav-item{
    margin-left: 38px;
    margin-right: 0;
}
.clockdiv li:last-child,
.header_area .navbar .nav .nav-item:last-child{
    margin-right: 0;
    margin-left: 0
}
.contact-info__icon,
.single-post-area .blog-author img,
.clockdiv li{
    margin-right: 0;
    margin-left: 30px;
}
.comments-area .date,
.blog_right_sidebar .popular_post_widget .post_item .media-body,
.single-footer-widget input{
    padding-left: 0;
    padding-right: 20px
}
.comments-area .thumb,
.single-post-area .navigation-area .nav-right .lnr,
.single-post-area .navigation-area .nav-left .thumb{
    margin-right: 0;
    margin-left: 20px;
}
.single-post-area .navigation-area .nav-left .lnr,
.single-post-area .navigation-area .nav-right .thumb{
    margin-right: 20px;
    margin-left: 0;
}
.blog_item_img .blog_item_date{
    left: auto;
    right: 40px
}
.blog-info-link li{
    float: right
}
.blog-pagination .page-item:last-child .page-link{
    margin-left: 0;
    margin-right: 10px
}
.lnr-chevron-left:before {
    content: "\e876";
}
.lnr-chevron-right:before {
    content: "\e875";
}
.single-post-area .quotes{
    border-left-width: 0;
    border-right: 2px solid #ea085e;
}
.single-post-area .navigation-top .social-icons li:last-child{
    margin-right: 15px;
    margin-left: 0;
}
.single-post-area .navigation-top .social-icons li:first-child{
    margin: 0
}
.single-post-area .navigation-top .comment-count i, .single-post-area .navigation-top .comment-count span,
.single-post-area .navigation-top .like-info i, .single-post-area .navigation-top .like-info span{
    margin-right: 0;
    margin-left: 5px
}
.lnr-arrow-right:before {
    content: "\e879";
}
.lnr-arrow-left:before {
    content: "\e87a";
}
.header_area .navbar .nav .nav-item.submenu ul{
    left: auto;
    right: 0
}
#scroll i {
  left: auto;
    right: 41px;
}
#scroll:after {
  left: auto;
    right:30px
}
.blogCarousel .owl-next{left:calc(50% - 70px); transform: translateX(-50%); right: auto}
.blogCarousel .owl-prev{right: 50%; transform: translateX(50%);left: auto}


.ti-angle-right:before {
    content: "\e64a";
}
.ti-angle-left:before {
    content: "\e649";
}
.searchFix{
    left: 100px;
    right: auto
}
.dropdown-menu.mega{
    left: auto !important;
    right: -255px !important;
    
}
.fixedSocail{
    right: 0;
    left: auto;
}
.big-box  .sm-box li i{
    margin-left: 15px;
    margin-right: 0
}
.fa-chevron-right:before {
    content: "\f053";
}